@page
@model IndexModel
@{
    ViewData["Title"] = "Scenarios";
}

<h3>Demo scenarios for the Vue.JS usage</h3>
<p>Click on the links below to see the Vue.JS in action:</p>
<ul>
    <li>
        <b>Data</b> <br>
        <ul>
            <li>
                <a asp-page="/Data/SearchApiCall">Search API call</a>
            </li>
            <li>
                <a asp-page="/Data/SearchApiWithFilters">Search API call with filters</a>
            </li>
        </ul>
    </li>
</ul>