@page
@model IndexModel
@{
    ViewData["Title"] = "Scenarios";
}

<h3>Demo scenarios for the Vue.JS usage together with ASP.NET Core</h3>
<p>Click on the links below to see the Vue.JS in action:</p>
<ul>
    <li>
        <b>Data section:</b> <br>
        <ul>
            <li>
                <a asp-page="/Data/SearchApiCall">Search API call</a>
            </li>
            <li>
                <a asp-page="/Data/SearchApiFromCodeBehind">Search API call with local handlers</a>
            </li>
            <li>
                <a asp-page="/Data/SearchApiWithFilters">Search API call with filters</a>
            </li>
            <li>
                <a asp-page="/Data/SearchApiReload">Search API call with reload</a>
            </li>
            <li>
                <a asp-page="/Data/SearchApiReloadClickInside">Search API call with reload and click inside results</a>
            </li>
        </ul>
    </li>
    <li>
        <b>UI section:</b> <br>
        <ul>
            <li>
                <a asp-page="/UI/Checklists">Checklists</a>
            </li>
          
        </ul>
    </li>
</ul>